body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #212121;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav--flex-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__button {
  cursor: pointer;
  padding: 0;
}

.user-info__input, .user-info__textarea, .user-policy__input, .signup-form__input {
  position: relative;
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages-card__title, .work-card__title, .socials__title, .signup-form__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}

.user-policy__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.team__title, .client__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

.socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-button, .hero__button {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover, .hero__button:hover,
.primary-button:focus,
.hero__button:focus {
  background-color: #188ce8;
}

.nav-logo--forepart {
  color: #2196f3;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding-top {
  padding-top: 0;
}

.section--secondary-bg {
  background-color: #f5f4fa;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.header-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav-logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: inherit;
  line-height: 1.167;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .nav-logo {
    margin-right: 93px;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}

.nav-list__link--current {
  color: #2196f3;
}

.nav-list__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
  display: block;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-list__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .contact-list__link {
    font-size: 12px;
  }
}

.contact-list__link:hover, .contact-list__link:focus {
  color: #2196f3;
}

.contact-list__link:hover .contact-list__icon, .contact-list__link:hover .contact-list__icon--envelope, .contact-list__link:hover .contact-list__icon--smartphone,
.contact-list__link:focus .contact-list__icon,
.contact-list__link:focus .contact-list__icon--envelope,
.contact-list__link:focus .contact-list__icon--smartphone {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list__icon, .contact-list__icon--envelope, .contact-list__icon--smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.contact-list__icon--envelope {
  width: 16px;
  height: 12px;
}

.contact-list__icon--smartphone {
  width: 10px;
  height: 16px;
}

.menu-container {
  display: none;
}

.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu,
.menu-button:active .icon-menu,
.menu-button:hover .icon-close,
.menu-button:focus .icon-close,
.menu-button:active .icon-close {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav-list__link {
  font-size: 40px;
  line-height: 1.175;
}

.mobile-nav-list__link:hover, .mobile-nav-list__link:focus, .mobile-nav-list__link:active {
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-size: 24px;
  line-height: 1.167;
  color: #757575;
}

.mobile-contacts__link:hover, .mobile-contacts__link:focus, .mobile-contacts__link:active {
  font-size: 34px;
  line-height: 1.176;
  color: #2196f3;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
}

.mobile-socials__item {
  margin-left: 10px;
}

.mobile-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials__link {
  font-size: 18px;
  line-height: 1.222;
  color: #2196f3;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bcg-desk.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bcg-desk.jpg);
}

@media screen and (max-width: 480px) {
  .hero {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bcg-mobile.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bcg-mobile.jpg);
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bcg-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bcg-mobile@2x.jpg);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bcg-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bcg-tablet.jpg);
  }
}

@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bcg-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bcg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bcg-desk.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bcg-desk.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bcg-desk@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bcg-desk@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1.2);
          transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  min-width: 90vw;
  min-height: 530px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__icon {
  width: 11px;
  height: 11px;
  fill: inherit;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
  fill: #2196f3;
}

.form {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.form__title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 12px;
}

@media screen and (min-width: 480px) {
  .form__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.15;
  }
}

.user-info {
  margin-bottom: 10px;
}

.user-info__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-info__title {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: start;
  margin-bottom: 4px;
}

.user-info__text {
  position: relative;
}

.user-info__input:hover, .user-info__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.user-info__input:hover + .user-info__icon, .user-info__input:focus + .user-info__icon {
  fill: #2196f3;
}

.user-info__textarea:hover, .user-info__textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.user-info__icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  fill: #212121;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-info__text {
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
}

.user-info--comment {
  margin-bottom: 20px;
}

.user-info__textarea {
  resize: none;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 480px) {
  .user-info__textarea {
    height: 120px;
  }
}

.user-info__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
  margin-bottom: 4px;
}

.user-info__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
  margin-bottom: 4px;
}

.user-info__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
  margin-bottom: 4px;
}

.user-info__textarea::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
  margin-bottom: 4px;
}

.user-policy {
  margin-bottom: 30px;
}

.user-policy > label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-policy__input:checked + .user-policy__icon {
  background-origin: border-box;
  background-size: contain;
  border: 2px solid #2196f3;
  background-color: #2196f3;
}

.user-policy__text {
  text-align: left;
  font-size: 11px;
  line-height: 1.714;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .user-policy__text {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .user-policy__text {
    font-size: 14px;
  }
}

.user-policy__link {
  font-size: 11px;
  text-decoration: underline;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .user-policy__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .user-policy__link {
    font-size: 14px;
  }
}

.user-policy__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: #ffffff;
  fill: #ffffff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .advantages-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-card {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-card {
    width: calc((100% - 120px) / 4);
  }
}

.advantages-card__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #f5f4fa;
  padding: 25px 0;
  border-radius: 4px;
}

.advantages-card__icon {
  height: 70px;
  width: 70px;
}

.advantages-card__title {
  text-align: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .advantages-card__title {
    text-align: left;
  }
}

.advantages-card__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-card {
  position: relative;
}

.work-card:not(:last-child) {
  margin-right: 30px;
}

.work-card__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-card__title {
  text-align: center;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.167;
    font-weight: 700;
    color: #212121;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team-card {
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-card {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    width: calc((100% - 120px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card:not(:last-child) {
    margin-right: 30px;
  }
}

.team-member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
}

.team-member__position {
  font-size: 16px;
  line-height: 1.188;
  color: #757575;
  margin-top: 10px;
}

.socials {
  margin-top: 16px;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-item__link, .socials-item__link--footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item__link:hover, .socials-item__link--footer:hover, .socials-item__link:focus, .socials-item__link--footer:focus {
  background-color: #2196f3;
}

.socials-item__link:hover .socials-item__logo, .socials-item__link--footer:hover .socials-item__logo,
.socials-item__link:focus .socials-item__logo,
.socials-item__link--footer:focus .socials-item__logo {
  fill: #ffffff;
}

.socials-item__logo {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.167;
    font-weight: 700;
    color: #212121;
    text-align: center;
    margin-bottom: 30px;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .client__list {
    margin: -15px;
  }
}

.client-item {
  width: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .client-item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 180px) / 6);
  }
}

@media screen and (min-width: 1200px) {
  .client-item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .client-item__link {
    padding-left: 31px;
    padding-right: 31px;
  }
}

.client-item__link:hover, .client-item__link:focus {
  border-color: #2196f3;
}

.client-item__link:hover .client-item__logo,
.client-item__link:focus .client-item__logo {
  fill: #2196f3;
}

.client-item__logo {
  height: 60px;
  width: 106px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .footer-contacts-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 61px;
    padding-right: 74px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-nav {
  text-align: center;
}

@media screen and (max-width: 767.5px) {
  .footer-nav {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-nav {
    text-align: left;
    margin-right: 70px;
  }
}

.nav-logo--footer {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: inherit;
  line-height: 1.167;
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: inherit;
  color: #ffffff;
  margin-top: 20px;
}

.footer-contacts {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-top: 9px;
  }
}

.footer-contacts__item:last-child {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts__item:last-child {
    margin-top: 9px;
  }
}

.footer-contacts__link {
  font-weight: inherit;
  line-height: 1.714;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.socials-wrapper {
  text-align: center;
}

@media screen and (max-width: 767.5px) {
  .socials-wrapper {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .socials-wrapper {
    text-align: left;
  }
}

.socials__title {
  margin-top: 0;
  color: #ffffff;
}

.socials--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.socials-item__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-item__logo--footer {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .signup-form {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .signup-form {
    min-width: 358px;
  }
}

.signup-form__title {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .signup-form__title {
    text-align: left;
  }
}

.signup-form__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: inherit;
  color: #ffffff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup-form__input:hover, .signup-form__input:focus {
  border: 1px solid #2196f3;
}

.signup-form__input::-webkit-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.signup-form__input:-ms-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.signup-form__input::-ms-input-placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.signup-form__input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199.5px) {
  .submit {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .submit {
    margin-left: 12px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.submit__button {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: unset;
  padding-left: 29px;
}

.submit__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .filter-list {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter-list__item {
    margin-bottom: 15px;
  }
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: inherit;
  padding: 6px 22px;
  min-width: 73px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover, .filter-list__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .prod-list {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .prod-list__card {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .prod-list__card {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (max-width: 767.5px) {
  .prod-list__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__image {
  position: relative;
  overflow: hidden;
}

.product__image > img {
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__text {
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
}

@media screen and (max-width: 467px) {
  .product__text {
    font-size: 14px;
  }
}

.product__meta {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.product__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: inherit;
  color: #757575;
  margin-top: 4px;
}
/*# sourceMappingURL=main.css.map */