/* :root {
  --title-text-color: #212121;
  --text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --footer-bg-color: #2f303a;
  --main-logo-color: #000000;
  --button-accent-color: #188ce8;
  --card-border-color: #eeeeee;
  --header-bottom-border: #ececec;
  --social-links-stat: #afb1b8;
  --hero-background: #c4c4c4;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --timing-duration: 250ms;
} */

/* body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
  letter-spacing: 0.03em;
} */

/* .container {
  width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* стили списков */
/* .list {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* стили ссылок */
/* .link {
  text-decoration: none;
  font-family: inherit;
  font-weight: inherit;
  font-style: normal;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color var(--timing-duration) var(--timing-function);
} */

/* стили секций */
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding-top {
  padding-top: 0;
}

.section--secondary-bg {
  background-color: var(--secondary-bg-color);
} */

/* стили кнопок */
/* .button {
  cursor: pointer;
  padding: 0;
} */

/* .primary-button {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--timing-duration) var(--timing-function);
} */

/* сбрасывание марджинов у h, p, ul */
/* h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
} */

/* .h3-like-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
} */

/* Стили инпутов */
/* .input {
  position: relative;
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border var(--timing-duration) var(--timing-function);
} */

/* стили хедера */

/* .page-header {
  border-bottom: 1px solid var(--header-bottom-border);
  height: 80px;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
} */

/* .nav-list {
  display: flex;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
} */

/* .contact-list__item:not(:last-child) {
  margin-right: 50px;
} */

/* .nav__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--main-logo-color);
  letter-spacing: inherit;
  line-height: 1.192;
  margin-right: 93px;
  font-style: normal;
  text-decoration: none;

  transition: color var(--timing-duration) var(--timing-function);
} */

/* .nav {
  display: flex;
  align-items: center;
} */

/* .nav-list__item:not(:last-child) {
  margin-right: 50px;
} */

/* .nav-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
} */

/* .pseudo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  display: block;
} */

/* .nav__logo--forepart {
  color: var(--accent-color);
} */

/* .nav-list__link--current {
  color: var(--accent-color);
} */

/* .nav-list__link:focus,
.nav-list__link:hover,
.contact-list__link:focus,
.contact-list__link:hover {
  color: var(--accent-color);
} */

/* .contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
} */

/* .contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon {
  fill: var(--accent-color);
} */

/* .contact-list__icon--envelope {
  width: 16px;
  height: 12px;
}

.contact-list__icon--smartphone {
  width: 10px;
  height: 16px;
} */

/* герой */

/* .hero {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  max-width: 1600px;
  background-color: var(--hero-background);
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
} */

/* .hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);

  margin-bottom: 30px;
} */

/* .primary-button:hover,
.primary-button:focus {
  background-color: var(--button-accent-color);
} */

/* модальное окно */

/* .backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity var(--timing-duration) var(--timing-function);
} */

/* .backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1.2);
} */

/* .modal {
  position: absolute;

  top: 50%;
  left: 50%;

  padding-top: 40px;
  padding-bottom: 40px;

  min-height: 581px;
  min-width: 528px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: transform var(--timing-duration) var(--timing-function);
} */

/* .modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .modal__icon {
  width: 11px;
  height: 11px;
  fill: inherit;

  transition: fill var(--timing-duration) var(--timing-function);
} */

/* .modal__button:hover .modal__icon {
  fill: var(--accent-color);
} */

/* .form {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
} */

/* .form__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;

  margin-bottom: 12px;
} */

/* .user-info {
  margin-bottom: 10px;
} */
/* 
.user-info--comment {
  margin-bottom: 20px;
} */

/* .user-info__text {
  position: relative;
} */

/* .user-info__label {
  display: flex;
  flex-direction: column;
} */

/* .user-info__textarea {
  resize: none;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
} */

/* .user-info__title, */
/* .user-info__textarea::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-color);

  text-align: start;
  margin-bottom: 4px;
}

.user-info__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
} */

/* .user-policy {
  margin-bottom: 30px;
} */

/* .user-policy__text {
  font-size: 14px;
  line-height: 1.714;
  color: var(--text-color);
} */

/* .user-policy__link {
  text-decoration: underline;
  color: var(--accent-color);
} */

/* .user-policy__input { */
/* !!!!!VISUALLY HIDDEN в base!!!! */

/* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .user-policy__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--main-logo-color);
  border-radius: 2px;
  background-color: var(--primary-bg-color);
  fill: var(--primary-bg-color);

  transition: border var(--timing-duration) var(--timing-function),
    background-color var(--timing-duration) var(--timing-function);
} */

/* .user-policy__input:checked + .user-policy__icon {
  background-origin: border-box;
  background-size: contain;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
} */

/* .user-info__icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  fill: currentColor;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition: fill var(--timing-duration) var(--timing-function);
} */

/* .user-info__input:hover,
.user-info__input:focus, */
/* .user-info__textarea:hover,
.user-info__textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
} */
/* 
.user-info__input:hover + .user-info__icon,
.user-info__input:focus + .user-info__icon {
  fill: var(--accent-color);
} */

/* преимущества */
/* 
.advantages-list {
  display: flex;
  margin-right: -30px;
} */

/* .advantages-card, */
/* .work-card, */
/* .team-card {
  margin-right: 30px;
} */
/* 
.advantages-card__title {
  margin-top: 30px;
} */

/* .advantages-card__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  color: var(--text-color);
} */

/* .advantages-card {
  width: calc((100% - 90px) / 4);
} */

/* .advantages-card__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-bg-color);
  padding: 25px 0;
  border-radius: 4px;
} */

/* .advantages-card__icon {
  height: 70px;
  width: 70px;
} */

/* чем занимаемся */

/* .work__title, */
/* .team__title, */
/* .client__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
} */

/* .work__list, */
/* .team__list {
  display: flex;
  margin-right: -30px;
} */

/* .work-card__title {
  text-align: center;
  color: var(--primary-bg-color);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
} */

/* .work-card {
  position: relative;
} */

/* .work-card__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
} */

/* наша команда */

/* .team-card {
  width: calc((100% - 90px) / 4);
  text-align: center;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */
/* 
.team-member {
  padding-top: 30px;
  padding-bottom: 30px;
} */
/* 
.team-member__name,
.team-member__position {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.188;
} */

/* .team-member__position {
  font-weight: inherit;
  color: var(--text-color);

  margin-top: 10px;
} */

/* .socials {
  display: inline-flex;
  margin-top: 16px;
} */

/* .socials-item__logo {
  height: 20px;
  width: 20px;
  fill: var(--social-links-stat);
  align-self: center;

  transition: fill var(--timing-duration) var(--timing-function);
} */

/* .socials-item__link:hover,
.socials-item__link:focus {
  background-color: var(--accent-color);
}

.socials-item__link:hover .socials-item__logo,
.socials-item__link:focus .socials-item__logo {
  fill: var(--primary-bg-color);
} */

/* .socials-item__link {
  display: inline-flex;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;

  transition: background-color var(--timing-duration) var(--timing-function); */
/* } */

/* .socials-item {
  margin-right: 10px;
} */

/* Постоянные клиенты */
/* 
.client__list {
  display: inline-flex;
} */

/* .client-item {
  margin-right: 30px;
} */

/* .client-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 31px;
  border: 1px solid var(--social-links-stat);
  border-radius: 4px;

  transition: border-color var(--timing-duration) var(--timing-function);
} */
/* 
.client-item__link:hover .client-item__logo,
.client-item__link:focus .client-item__logo {
  fill: var(--accent-color);
} */

/* .client-item__link:hover,
.client-item__link:focus {
  border-color: var(--accent-color); */
/* } */

/* .client-item__logo {
  height: 60px;
  width: 106px;
  fill: var(--social-links-stat);

  transition: fill var(--timing-duration) var(--timing-function);
} */

/* Футер */
/* .page-footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
} */

/* .footer {
  display: flex;
  align-items: baseline;
} */

/* .nav__logo--footer {
  color: var(--primary-bg-color);
  margin-right: auto;
} */

/* .socials__title, */
/* .signup-form__title {
  margin-top: 0;
    margin-bottom: 20px;

  color: var(--primary-bg-color);
} */

/* .address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: inherit;
  color: var(--primary-bg-color);

  margin-top: 20px;
} */

/* .footer-contacts__link {
  font-weight: inherit;
  line-height: 1.714;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
} */
/* 
.footer-contacts, */
/* .footer-contacts__item:last-child {
  margin-top: 9px;
} */
/* 
.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--accent-color);
} */

/* .socials--margin {
  margin-left: 70px;
} */

/* .socials--footer {
  display: flex;
  margin-top: 20px;
} */
/* 
.socials-item__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials-item__logo--footer {
  fill: var(--primary-bg-color);
} */
/* 
.footer-form {
  display: flex;
  margin-left: auto;
} */

/* .signup-form {
  min-width: 358px;
} */

/* .signup-form__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: inherit;
  color: var(--primary-bg-color);

  transition: border var(--timing-duration) var(--timing-function);
} */

/* .signup-form__input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
} */

/* .signup-form__input:hover,
.signup-form__input:focus {
  border: 1px solid var(--accent-color);
} */

/* .submit {
  position: relative;
  display: flex;
  align-self: flex-end;
  margin-left: 12px;
} */

/* .submit__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;

  transform: translateY(-50%);
} */

/* .submit__button {
  text-align: unset;
  padding-left: 29px;
} */

/* портфолио */

/* фильтр */

/* .filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} */

/* .filter-list__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: var(--secondary-bg-color);
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: inherit;
  padding: 6px 22px;
  min-width: 73px;

  transition: background-color var(--timing-duration) var(--timing-function),
    color var(--timing-duration) var(--timing-function),
    box-shadow var(--timing-duration) var(--timing-function);
} */
/* 
.filter-list__button:hover,
.filter-list__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .filter-list__item:not(:last-child) {
  margin-right: 8px;
} */

/* список работ */

/* .product__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
} */
/* 
.product__category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: inherit;
  color: var(--text-color);

  margin-top: 4px;
} */

/* .prod-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.prod-list__card {
  max-width: 370px;
  height: 100%;
} */
/* .product__image > img {
  overflow: hidden;
} */

/* .product__link {
  display: block;

  transition: box-shadow var(--timing-duration) var(--timing-function);
} */

/* .product__link:hover,
.product__link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */
/* 
.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  transform: translateY(0);
} */
/* 
.prod-list__card {
  margin-right: 30px;
  margin-bottom: 30px;
} */

/* .product__meta {
  padding: 20px 24px;
  border-left: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
} */

/* .product__image {
  position: relative;
  overflow: hidden;
} */

/* .product__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  user-select: none;

  transform: translateY(100%);

  transition: transform var(--timing-duration) var(--timing-function);
} */

/* .product__text {
  font-size: 18px;
  line-height: 1.556;
  color: var(--primary-bg-color);
} */
