.form {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  &__title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 12px;
    @media screen and (min-width: 480px) {
      font-size: 20px;
    }

    @media screen and (min-width: 1200px) {
      line-height: 1.15;
    }
  }
}

.user-info {
  margin-bottom: 10px;
  &__label {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: $text-color;

    text-align: start;
    margin-bottom: 4px;
  }
  &__text {
    position: relative;
  }
  &__input {
    @extend %input;
    &:hover,
    &:focus {
      outline: none;
      border: 1px solid $accent-color;
      + .user-info__icon {
        fill: $accent-color;
      }
    }
  }
  &__textarea:hover,
  &__textarea:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
  &__icon {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    fill: $title-text-color;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    transition: fill $timing-duration $timing-function;
  }

  &__text {
    font-size: 14px;
    line-height: 1.714;
    color: $text-color;
  }

  &--comment {
    margin-bottom: 20px;
  }
  &__textarea {
    @extend %input;
    resize: none;
    height: 60px;

    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: 480px) {
      height: 120px;
    }

    &::placeholder {
      font-size: 12px;
      line-height: 1.167;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);

      text-align: start;
      margin-bottom: 4px;
    }
  }
}

// POLICY

.user-policy {
  margin-bottom: 30px;
  & > label {
    display: inline-flex;
    align-items: center;
  }
  &__input {
    @extend %input;
    @extend %visually-hidden;
    &:checked + .user-policy__icon {
      background-origin: border-box;
      background-size: contain;
      border: 2px solid $accent-color;
      background-color: $accent-color;
    }
  }
  &__text {
    text-align: left;
    font-size: 11px;
    line-height: 1.714;
    color: $text-color;

    @media screen and (min-width: 480px) {
      font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }
  &__link {
    font-size: 11px;
    text-decoration: underline;
    color: $accent-color;
    @media screen and (min-width: 480px) {
      font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  &__icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid $main-logo-color;
    border-radius: 2px;
    background-color: $primary-bg-color;
    fill: $primary-bg-color;

    transition: border $timing-duration $timing-function,
      background-color $timing-duration $timing-function;
  }
}
