.page-header {
  position: relative;
  height: 60px;
  border-bottom: 1px solid $header-bottom-border;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Навигация

.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav-logo {
  @include nav-logo(24px, 400, 1.167);
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.nav--flex-centered {
  @extend %flex-centered;
}

.nav-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__link--current {
    color: $accent-color;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: $accent-color;
      border-radius: 2px;
      display: block;
    }
  }
}

// Контакты

.contact-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    color: $text-color;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
    }
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
  &__link:hover .contact-list__icon,
  &__link:focus .contact-list__icon {
    fill: $accent-color;
  }
  &__item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-list__icon--envelope {
  @extend .contact-list__icon;
  width: 16px;
  height: 12px;
}

.contact-list__icon--smartphone {
  @extend .contact-list__icon;
  width: 10px;
  height: 16px;
}
