body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: $primary-bg-color;
  color: $title-text-color;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color $timing-duration $timing-function;
}
