$title-text-color: #212121;
$text-color: #757575;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$accent-color: #2196f3;
$footer-bg-color: #2f303a;
$main-logo-color: #000000;
$button-accent-color: #188ce8;
$card-border-color: #eeeeee;
$header-bottom-border: #ececec;
$social-links-stat: #afb1b8;
$hero-background: #c4c4c4;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$timing-duration: 250ms;
